body{
    overflow-x: hidden;
    background-color: rgba(210, 180, 140, 0.493);
}
.navigation{
    height: 95px;
    background-color:teal ;
    margin-bottom: 48px;
    color: white;
}
.navTitle{
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 8px;
    max-width: 35em;
}
.navList{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    font-size: 1.1em;
    max-width: 11em;
}

.navigation li{
    list-style-type: none;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.mainTitle{
    margin-bottom: 45px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blocForm{
    background-color: rgba(76, 86, 92, 0.397);
    border-radius: 6px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 22px;
}
.formElement{
    margin-bottom: 24px ;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    width: 190px;
    border-radius: 6px;
}
input[type=submit]{
    margin-top: 11px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.btn{
    background-color: rgba(0, 128, 128, 0.815);
    color: white;
}
.btn-myColor:hover {
    background-color: rgb(66, 83, 83);
    color: white;
  }
.errorMessage{
    color: rgb(212, 27, 27);
}
.text-myColor{
    color: rgba(0, 128, 85, 0.979);
}
/* Page liste patients*/
.patientsList{
    padding-top: 15px;
    padding-bottom: 19px;
    width: 400px;
    border-radius: 8px;
    background-color: rgb(10, 48, 48);
}
.buttonAddPatient{
    background-color: teal;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
/* */

/* Page infos patient */
.patientInfos{
    background-color:rgba(224, 191, 162, 0.884);
    border: 2px solid teal ;
    max-width: 17em;
    font-size: 1.3em;
    display: inline-block;
    padding-top: 1.4em ;
    padding-bottom: 1em ;
    border-radius: 21px;
}
/*  °____°  */

/* Page modif patient */
#patientUpdateForm{
    margin-top: 7%;
}
/*  °____°  */

/* Page rdv */
.labelForm{
    display: inline;
}
#rdvSubmit{
    margin-left: 4%;
    margin-top: 1%;
}
.cardPatientLone{
    width: 22rem;
}
/* */

footer{
    background-color:teal ;
    margin-top: 15%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 45px;
    width: 100%;
}
footer p{
    background-color:teal ;
    position: relative;
    top: 3%;
    left: 2%;
}

